<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.haozhi.mapper.AdminMapper">
	<select id="findAll" resultType="Admin">
		select * from admin
	</select>
	
	<insert id="addadmin" parameterType="Admin" >
		insert into admin values(seq_aid.nextval,#{aname},#{email},#{apassword},null,null,null)
	</insert>
	
	<select id="count" resultType="int">
		select count(*) from admin
	</select>
	
	<delete id="deladmin" parameterType="int">
		delete from admin where aid in 
		
		<foreach collection="array" item="aid" open="(" close=")" separator=",">
			#{aid}
		</foreach>
	</delete>
</mapper>