<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.haozhi.mapper.CgroupMapper">

	<resultMap type="Cgroup" id="CgroupMap">
		
		<!-- <id column="userId" property="createman"/>  -->
		
		<association property="userinfo" column="createman" javaType="UserInfo" select="getUserByUsid" />
	</resultMap>
	<select id="findAllgroupBypage" resultMap="CgroupMap" parameterType="java.util.Map" >
			select * from(select c.*,rownum rn from (select * from cgroup)c 
					where #{pagesize}*#{pagenumber}>=rownum)
			 				where rn>#{pagesize}*(#{pagenumber}-1) 	
	</select>
	
	
	<select id="getUserByUsid" resultType="UserInfo" parameterType="int">
		select * from userinfo where userid = #{userid}
	</select>
	
	<select id="findAll" resultType="int">
		select count(*) from cgroup
	</select>



	<sql id="selectGroups">
		select * from (select * from cgroup order by peoplecount desc )
	</sql>
	
	<!-- 查询热门小组    选人数最多的 -->
	<select id="getHostGroups" resultType="Cgroup">
		<include refid="selectGroups"/> where 12>=rownum
	</select>
	
	<!-- 查询新晋小组  选最近时间创建的 -->
	<select id="getNewGroups" resultType="Cgroup">
		select * from (select * from cgroup order by createtime desc ) where 4>rownum
	</select>
	
	
	<select id="searchGroups" resultType="Cgroup">
		select * from cgroup
		<choose>
			<when test="keyWord!=null and ctid==null">
				where groupname like '%' || #{keyWord,jdbcType=VARCHAR} || '%'
			</when>
			<when test="ctid!=null and keyWord==null">
				where ctid=#{ctid,jdbcType=VARCHAR}
			</when>
			<when test="keyWord!=null and ctid!=null">
				where groupname like '%' || #{keyWord,jdbcType=VARCHAR} || '%' and ctid=#{ctid,jdbcType=VARCHAR}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<!-- 在界面上显示小组的具体信息 -->
	<select id="showGroups" resultMap="CgroupMap" parameterType="java.util.Map">
		select * from cgroup where groupname=#{groupname}
	</select>
	<!-- 获取小组原来的成员，有新成员加入时，拼接用 -->
	<select id="getGroupnumber" parameterType="string" resultType="string">
		select groupnumber from cgroup where groupname=#{groupname}
	</select>
	<!-- 加人新成员或者退出小组 -->
	<!-- <update id="updateGroups">
		update cgroup set groupnumber=#{groupnumber} where groupname=#{groupname}
	</update> -->
	
	<update id="updateGroups" parameterType="java.util.Map">
		update cgroup set groupnumber=#{groupnumber} where groupname=#{groupname}
	</update>
	
</mapper>
