<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.haozhi.mapper.CourseTypeMapper">
<!-- 后台类型分页查询 -->
	<select id="findAllTypeByPage" resultType="CourseType" parameterType="java.util.Map">
	select * from(select c.*,rownum rn from (select * from courseType)c where #{pagesize}*#{pagenumber}>=rownum) where rn>#{pagesize}*(#{pagenumber}-1) 	
	</select>
	
	<select id="findAllCourseType" resultType="CourseType">
		select * from courseType
	</select>
	
	<!-- 获取总条数 -->
	<select id="findAllType" resultType="int">
		select count(*) from coursetype
	</select>
	
	<insert id="insertCourseType" parameterType="string" >
		insert into coursetype values(seq_ctid.nextval,#{typename},null)
	</insert>
	
	<update id="updateCourseType" parameterType="CourseType">
		update coursetype set typename=#{typename} where ctid=#{ctid}
	</update>
	
	<delete id="deleteCourseType" parameterType="string">
		delete from courseType where ctid in 
		
		<foreach collection="array" item="ctids" open="(" close=")"  separator="," >
			#{ctids}
		</foreach>
	</delete>
	<select id="findByctid" parameterType="CourseType" resultType="CourseType">
		select * from courseType where ctid=#{ctid}
	</select>
</mapper>