<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.haozhi.mapper.CourseMapper">
	<!-- 查询所有课程  -->
	<sql id="selectCourse">
		select s.*,(select count(1) from studyCourse where courseid = s.courseid ) memberCount,
		(select avg(assess) from studyCourse where courseid = s.courseid) assessAvg
		 from course s
	</sql>
	
	<!-- 查热门课程 显示前三个  -->
	<sql id="selectHostCourse">
		select * from (select s.*,(select count(1) from studyCourse where courseid = s.courseid ) memberCount,
		(select avg(assess) from studyCourse where courseid = s.courseid) assessAvg from course s 
	</sql>
	
	<select id="countCourseByCtid" parameterType="int" resultType="int">
		select count(*) from course 
		<if test="ctid==null"></if>
		<if test="ctid!=null">where ctid=#{ctid}</if>
	</select>
	
	<!-- 查所有课程  -->
	<resultMap type="Course" id="CourseMap">
		<id column="courseid" property="courseid"/>
		<id column="userId" property="userId"/>
		<collection property="user" column="userId" ofType="UserInfo" select="getUserByUsid" />
	</resultMap>
	<select id="getAllCourse" resultMap="CourseMap" >
		 select rownum,a.* from (select rownum,s.*,(select count(1) from studyCourse where courseid = s.courseid ) memberCount,
		(select avg(assess) from studyCourse where courseid = s.courseid) assessAvg
		 from course s where rownum>=#{pagesize}*(#{pagenumber}-1))a where #{pagesize}*#{pagenumber}>=rownum
	</select>
	
	<select id="getUserByUsid" resultType="UserInfo" parameterType="int">
		select * from userinfo where userid = #{userid}
	</select>

	<!-- 查热门课程 显示前三个  -->
	<resultMap type="Course" id="CourseMap2">
		<id column="courseid" property="courseid"/>
		<id column="userId" property="userId"/>
		<id column="memberCount" property="memberCount"/>
		<id column="assessAvg" property="assessAvg"/>
		<collection property="user" column="userId" ofType="UserInfo" select="getUserByUsid1" />
	</resultMap>
	<select id="getHostCourse" resultMap="CourseMap2" >
		<include refid="selectHostCourse"/> order by memberCount desc) where 3>=rownum
	</select>
	<select id="getUserByUsid1" resultType="UserInfo" parameterType="int">
		select * from userinfo where userid = #{userid}
	</select>
	
	
	
	<!-- 插入课程 -->
	<insert id="insertCourse" parameterType="Course">
		insert into course values(seq_courseid.nextval,#{ctitle},#{cintrodution},#{ctid},#{courseting},
		 <if test='coursephoto==null'>
			null</if>
		<if test='coursephoto!=null'>
			#{coursephoto}
		</if>,#{userId},0,to_date(#{createTime},'yyyy-mm-dd hh24:mi:ss'),null,null)
	</insert>
	
	<!-- 通过课程类型查所有课程 -->
	<resultMap type="Course" id="CourseMap3">
		<id column="courseid" property="courseid"/>
		<id column="userId" property="userId"/>
		<collection property="user" column="userId" ofType="UserInfo" select="getUserByUsid3" />
	</resultMap>
	<select id="getCourseByCtid" resultMap="CourseMap3"  >
			select rownum,a.* from (select rownum,s.*,(select count(1) from studyCourse where courseid = s.courseid ) memberCount,
		(select avg(assess) from studyCourse where courseid = s.courseid) assessAvg
		 from course s where s.ctid=#{ctid} and rownum>=#{pagesize}*(#{pagenumber}-1))a where #{pagesize}*#{pagenumber}>=rownum
	
	</select>
	<select id="getUserByUsid3" resultType="UserInfo" parameterType="int">
		select * from userinfo where userid = #{userid}
	</select>

	<!-- 通过课程类型查询热门课程的前三门 -->
	<resultMap type="Course" id="CourseMap4">
		<id column="courseid" property="courseid"/>
		<id column="userId" property="userId"/>
		<collection property="user" column="userId" ofType="UserInfo" select="getUserByUsid4" />
	</resultMap>
	<select id="getHostByCtid" resultMap="CourseMap4" parameterType="Integer" >
		<include refid="selectHostCourse"/>
		<if test="_parameter==0"></if>
		<if test="_parameter!=0"> where s.ctid=#{_parameter}</if>
		 order by memberCount desc) where 3>=rownum 
	</select>
	<select id="getUserByUsid4" resultType="UserInfo" parameterType="int">
		select * from userinfo where userid = #{userid}
	</select>
	
	
	<resultMap type="Course" id="CourseMaps">
		<id column="courseid" property="courseid"/>
		<id column="userId" property="userId"/>
		<id column="memberCount" property="memberCount"/>
		<id column="assessAvg" property="assessAvg"/>
		<collection property="user" column="userId" ofType="UserInfo" select="getUserByUsids" />
	</resultMap>
	<select id="getHostCourseByPage" resultMap="CourseMaps" >
		select * from (select rownum, s.*,(select count(1) from studyCourse where courseid = s.courseid ) memberCount,
		(select avg(assess) from studyCourse where courseid = s.courseid) assessAvg from course s 
		where rownum>=#{pagesize}*(#{pagenumber}-1)
		<if test="ctid==0"></if>
		<if test="ctid!=0"> and s.ctid=#{ctid}</if>
		 order by memberCount desc) where #{pagesize}*#{pagenumber}>=rownum
	</select>
	<select id="getUserByUsids" resultType="UserInfo" parameterType="int">
		select * from userinfo where userid = #{userid}
	</select>
	
	<!-- 查询课程按创建时间排序 -->
	<resultMap type="Course" id="CourseMap5">
		<id column="courseid" property="courseid"/>
		<id column="userId" property="userId"/>
		<collection property="user" column="userId" ofType="UserInfo" select="getUserByUsid5" />
	</resultMap>
	<select id="getCourseDescTime" resultMap="CourseMap5" >
		select * from (select rownum, s.*,(select count(1) from studyCourse where courseid = s.courseid ) memberCount,
		(select avg(assess) from studyCourse where courseid = s.courseid) assessAvg from course s 
		where rownum>=#{pagesize}*(#{pagenumber}-1)
		 <if test="ctid==0"></if>
		 <if test="ctid!=0">and s.ctid=#{ctid}</if>
		order by createTime desc ) where #{pagesize}*#{pagenumber}>=rownum 
	</select>
	<select id="getUserByUsid5" resultType="UserInfo" parameterType="int">
		select * from userinfo where userid = #{userid}
	</select>
	
	<!-- 分页查询课程按创建时间排序 -->	
	<resultMap type="Course" id="CourseMap6">		
		<id column="userId" property="userId"/>
		<id column="ctid" property="ctid"/>
		<collection property="user" column="userId" ofType="UserInfo" select="getUserByUsid5" />
		<collection property="courseType" column="ctid" ofType="CourseType" select="getCourseType" />
	</resultMap>
	<select id="getCoursebypageDescTime" resultMap="CourseMap6" parameterType="java.util.Map" >
			select * from(select c.*,rownum rn from (select * from course)c 
					where #{pagesize}*#{pagenumber}>=rownum)
			 				where rn>#{pagesize}*(#{pagenumber}-1) 	
	</select>
	<select id="getCourseType" resultType="CourseType" parameterType="int">
		select * from courseType where ctid=#{ctid}
	</select>
	
	<select id="countCoursenumber" resultType="int">
		select count(*) from course
	</select>
	
		<resultMap type="Course" id="Course">
		<id column="courseid" property="courseid"/>
		<id column="userId" property="userId"/>
		<collection property="user" column="userId" ofType="UserInfo" select="getUserByUsid6" />
	</resultMap>
	<select id="getCourseById" resultMap="Course" parameterType="Integer" >
		select s.*,(select count(1) from studyCourse where courseid = s.courseid )
		memberCount, (select avg(assess) from studyCourse where courseid = s.courseid) assessAvg,
		typename,(select count(*) from courseManage where courseid=s.courseid) courseCount,(
		select count(courseid) from studyCourse where courseid=s.courseid ) userCount,
		(select count(*) from attention a where a.attention=s.userid ) beattentionnumber,
		(select count(*) from course co where co.userid=s.userid ) teachnumber,
		(select count(*) from studycourse st where st.userid=s.userid )studynumber,
		 (select count(*) from attention a where a.userid=s.userid ) attentionnumber,
		(select count(*) from courseAssess where cmid in (select cmid from courseManage where courseid=s.courseid)
		) assessCount 
		from course s,courseType t where s.ctid=t.ctid and  s.courseid=#{_parameter}
	</select>
	<select id="getUserByUsid6" resultType="UserInfo" parameterType="int">
		select * from userinfo where userid = #{userid}
	</select>
	
	<!--  获得所有学习了当前课程的学生-->
	
	<resultMap type="Course" id="SCMap">
		
		<association property="user" column="userid" javaType="UserInfo">
			<result column="userid" property="userid"/>
			<result column="uname" property="uname"/>
			<result column="photo" property="photo"/>
		</association>
		<collection property="student" column="studyid" ofType="UserInfo" select="getUserInfobyId"/>
		
	</resultMap>
	<select id="getStudentsbypageDescTime" resultMap="SCMap" parameterType="java.util.Map" >
select * from(select a.*,rownum rn from 
	(select u.userid,u.uname,u.photo,sc.userid studyid
			
    		from course c
    		left outer join studycourse  sc on c.courseid=sc.courseid
        	left outer join userinfo u   on u.userid=c.userid
          		where c.courseid=#{courseid} order by sc.begintime)a  
						where #{pagesize}*#{pagenumber}>=rownum)
			 				where rn>#{pagesize}*(#{pagenumber}-1) 	
	</select>
	<select id="getUserInfobyId" parameterType="int" resultType="UserInfo">
		select * from UserInfo where userid=#{studyid}
	</select> 	
	<select id="getAllStudents" parameterType="int" resultType="StudyCourse">
		select sc.userid,sc.courseid
    		from course c
    		left outer join studycourse  sc on c.courseid=sc.courseid   	
          		where c.courseid=#{courseid} order by sc.begintime
	</select>
	

	<insert id="createcourse" parameterType="Course">
		insert into course values(seq_courseid.nextval,#{ctitle},#{cintrodution},#{ctid},#{courseting},#{coursephoto}
		,#{userId},0,sysdate,null,null)
	</insert>

	
	<resultMap type="Course" id="CourseMap7">
		<id column="courseid" property="courseid"/>
		<id column="userId" property="userId"/>
		<collection property="user" column="userId" ofType="UserInfo" select="getUserByUsid7" />
	</resultMap>
	<select id="recommedCourseByCmid" resultMap="CourseMap7" parameterType="Integer" >
		select rownum, s.*,(select count(1) from studyCourse where courseid = s.courseid ) memberCount,
		(select avg(assess) from studyCourse where courseid = s.courseid) assessAvg
		 from course s where ctid in(select ctid from course where courseid in
		 (select courseid from courseManage where cmid=1)) and 4>rownum
	</select>
	<select id="getUserByUsid7" resultType="UserInfo" parameterType="int">
		select * from userinfo where userid = #{userid}
	</select>
	
	
	<!-- 主页的热门课程查询 -->
	
	<resultMap type="Course" id="mainHotCourseMap">
		<id column="courseid" property="courseid"/>
		<result column="ctitle" property="ctitle"/>
		<result column="cintrodution" property="cintrodution"/>
		<result column="coursephoto" property="coursephoto"/>
		<association column="ctid" property="courseType" javaType="CourseType">
			<result column="ctid" property="ctid"/>
		</association>
		<association property="user" column="userid" javaType="UserInfo" select="getUserByUsid7"/>
		<collection property="studentlist" column="usid" ofType="UserInfo">
			<id column="usid" property="userid"/>
			<result column="sname" property="uname"/>
			<result column="photo" property="photo"/>
		</collection>
	</resultMap>
	<select id="mainHotCourse" resultMap="mainHotCourseMap">
		select c.*,u.userid usid,u.uname sname,u.photo,st.begintime,
		(select count(*) students from studycourse sc where sc.courseid=c.courseid group by c.courseid)studentnumber
		 from course c,studycourse st,userinfo u where st.courseid=c.courseid and u.userid=st.userid 
		 order by studentnumber desc,st.begintime desc
	</select>
	
	
	<!--精品课程  -->
	<resultMap type="Course" id="goodCourseMap">
		<id column="courseid" property="courseid"/>
		<result column="ctitle" property="ctitle"/>
		<result column="cintrodution" property="cintrodution"/>
		<result column="coursephoto" property="coursephoto"/>
		<association property="user" column="userid" javaType="UserInfo">
			<id column="userid" property="userid"/>
			<result column="uname" property="uname"/>
			<result column="photo" property="photo"/>
		</association>
	</resultMap>
	<select id="goodCourse" resultMap="goodCourseMap">
		select * from course c,userinfo u where c.userid=u.userid and c.courseid=(select courseid from (select count(*)nums,c.courseid from course c 
		left join studycourse st on c.courseid=st.courseid where c.ctid=1 group by c.courseid)a where 2>rownum)union
		select * from course c,userinfo u where c.userid=u.userid and c.courseid=(select courseid from (select count(*)nums,c.courseid from course c 
		left join studycourse st on c.courseid=st.courseid where c.ctid=2 group by c.courseid)a where 2>rownum)
		union
		select * from course c,userinfo u where c.userid=u.userid and c.courseid=(select courseid from (select count(*)nums,c.courseid from course c 
		left join studycourse st on c.courseid=st.courseid where c.ctid=3 group by c.courseid)a where 2>rownum)union
		select * from course c,userinfo u where c.userid=u.userid and c.courseid=(select courseid from (select count(*)nums,c.courseid from course c 
		left join studycourse st on c.courseid=st.courseid where c.ctid=4 group by c.courseid)a where 2>rownum)
		union
		select * from course c,userinfo u where c.userid=u.userid and c.courseid=(select courseid from (select count(*)nums,c.courseid from course c 
		left join studycourse st on c.courseid=st.courseid where c.ctid=5 group by c.courseid)a where 2>rownum)union
		select * from course c,userinfo u where c.userid=u.userid and c.courseid=(select courseid from (select count(*)nums,c.courseid from course c 
		left join studycourse st on c.courseid=st.courseid where c.ctid=6 group by c.courseid)a where 2>rownum)
		union
		select * from course c,userinfo u where c.userid=u.userid and c.courseid=(select courseid from (select count(*)nums,c.courseid from course c 
		left join studycourse st on c.courseid=st.courseid where c.ctid=7 group by c.courseid)a where 2>rownum)union
		select * from course c,userinfo u where c.userid=u.userid and c.courseid=(select courseid from (select count(*)nums,c.courseid from course c 
		left join studycourse st on c.courseid=st.courseid where c.ctid=8 group by c.courseid)a where 2>rownum)
</select>

	<resultMap type="Course" id="MainCoursebyCtidMap">
		<id column="courseid" property="courseid"/>
		<id column="userId" property="userId"/>
		<collection property="user" column="userId" ofType="UserInfo" select="getUserByUsid3" />
	</resultMap>
	<select id="getmainCourseByCtid" parameterType="int" resultMap="MainCoursebyCtidMap">
		<include refid="selectCourse"/> where s.ctid=#{ctid}
	</select>
	
	
</mapper>
