<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.haozhi.mapper.StudyCourseMapper">
	
	<resultMap type="StudyCourse" id="StudyCourseMap">
		<id column="courseid" property="courseid"/>
		<id column="cmid" property="cmid"/>
		<id column="userid" property="userid"/>
		<collection property="user" column="userid" ofType="UserInfo" select="getUserByCmid" />
	</resultMap>
	<select id="getStudyCourseByCmid" resultMap="StudyCourseMap" >
		 select s.*,m.memberCount from (select count(userid) memberCount from studyCourse  where courseid in
		 (select courseid from courseManage where cmid=#{cmid})) m,
		 (select * from studyCourse where courseid in(select courseid from courseManage where cmid=#{cmid})) s
		  where 10>rownum  order by begintime desc 
	</select>	
	<select id="getUserByCmid" resultType="UserInfo" parameterType="int">
		select * from userinfo where userid=#{userid} 
	</select>
	
	

	<resultMap type="StudyCourse" id="dynamicMap">
		<id column="scid" property="scid"/>
		<association property="user" column="userid" javaType="UserInfo">
			<id column="userid" property="userid"/>
			<result column="uname" property="uname"/>
		</association>
		<association property="course" column="courseid" javaType="Course">
			<id column="courseid" property="courseid"/>
			<result column="ctitle" property="ctitle"/>
		</association>
	</resultMap>
	
	<select id="persentdynamicStudentsbycourseid" parameterType="int" resultMap="dynamicMap">
		 select * from (select st.*,u.uname,c.ctitle from studycourse st 
		  left join userinfo u on st.userid=u.userid 
		  left join course c on st.courseid=c.courseid
		  where exists(select * from studycourse sc where sc.userid=u.userid and sc.courseid=#{courseid} )
		  order by st.begintime desc)a where 5>rownum 
	</select>

	<select id="countStudyCourseByUseridCmid" resultType="int">
		select  count(*) from studyCourse where userid =#{userid} and courseid in 
		(select courseid from courseManage where cmid=#{cmid})	
	</select>
	
	<insert id="joinStudyCourse">
		insert into studyCourse values(seq_scid.nextval,#{userid},#{courseid},sysdate,0,null,null,null,null)
	</insert>
	

	<resultMap type="StudyCourse" id="newJoinStudentMap">
		<association property="user" column="userid" javaType="UserInfo">
			<id column="userid" property="userid"/>
			<result column="uname" property="uname"/>
		</association>
	</resultMap>
	<select id="newjoinStudentbycourseid" parameterType="int" resultMap="newJoinStudentMap">
		select a.*,rownum rn from (select st.*,u.uname
	    		from  studycourse st left join userinfo u on st.userid=u.userid
          			where st.courseid=#{courseid} order by st.begintime desc)a  
							where 12>=rownum
	</select>
	
	
	<resultMap type="StudyCourse" id="StudyCourseMap02">
		<id column="courseid" property="courseid"/>
		<id column="userid" property="userid"/>
		<id column="count" property="courseid"/>
		<association property="course" column="courseid" javaType="Course" select="getCourseByUsid" />
		<association property="user" column="userid" javaType="UserInfo" select="getUserInfoByUsid" />
		<association property="count" column="count" javaType="int" select="getCountByCid" />
	</resultMap>
	<select id="getPersonCourse" resultMap="StudyCourseMap02">
		select * from studyCourse where userid = #{userid} 
	</select>
	<select id="getCourseByCid" parameterType="int" resultType="Course">
		select * from course where courseid=#{courseid}
	</select>
	<select id="getUserInfoByUsid" parameterType="int" resultType="UserInfo">
		select * from userinfo where userid = #{userid}
	</select>
	
	<!-- //通过userid查课程信息 -->
	<resultMap type="Course" id="CourseByUsidMap">
		<id column="courseid" property="courseid"/>
		<id column="userId" property="userId"/>
		<id column="ctid" property="ctid"/>
		<collection property="user" column="userId" ofType="UserInfo" select="getUserByUsid" />
		<collection property="typename" column="ctid" ofType="string" select="getCourseTypeName" />
	</resultMap>
	<select id="getCourseByUsid" resultMap="CourseByUsidMap"  >
		select s.*,(select count(1) from studyCourse where courseid = s.courseid ) memberCount,
		(select avg(assess) from studyCourse where courseid = s.courseid) assessAvg
		 from course s where s.courseid in(select courseid from studyCourse  where userid =#{userid})
	</select>
	<select id="getUserByUsid" resultType="UserInfo" parameterType="int">
		select * from userinfo where userid = #{userid}
	</select>
	<select id="getCourseTypeName" resultType="string" parameterType="int">
		select typename from courseType where ctid=#{ctid}
	</select>
	
	<select id="getCourseCount" parameterType="string" resultType="string">
		select count(1) from  studyCourse where userid = #{userid}
	</select>
</mapper>
