<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.haozhi.mapper.StudyCourseMapper">
	
	<resultMap type="StudyCourse" id="StudyCourseMap">
		<id column="courseid" property="courseid"/>
		<id column="cmid" property="cmid"/>
		<id column="userid" property="userid"/>
		<collection property="user" column="userid" ofType="UserInfo" select="getUserByCmid" />
	</resultMap>
	<select id="getStudyCourseByCmid" resultMap="StudyCourseMap" >
		 select s.*,m.memberCount from (select count(userid) memberCount from studyCourse  where courseid in
		 (select courseid from courseManage where cmid=#{cmid})) m,
		 (select * from studyCourse where courseid in(select courseid from courseManage where cmid=#{cmid})) s
		  where 10>rownum  order by begintime desc 
	</select>	
	<select id="getUserByCmid" resultType="UserInfo" parameterType="int">
		select * from userinfo where userid=#{userid} 
	</select>
	
	
	<select id="countStudyCourseByUseridCmid" resultType="int">
		select  count(*) from studyCourse where userid =#{userid} and courseid in 
		(select courseid from courseManage where cmid=#{cmid})	
	</select>
	
	<insert id="joinStudyCourse">
		insert into studyCourse values(seq_scid.nextval,#{userid},#{courseid},sysdate,0,null,null,null,null)
	</insert>
	
	
</mapper>