<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.haozhi.mapper.UserInfoMapper">
	<select id="getUserByUname" resultType="UserInfo" parameterType="UserInfo">
		select * from UserInfo where upassword=#{upassword} and uname=#{uname}
	</select>
	
	<select id="getUserByEmail" resultType="UserInfo" parameterType="UserInfo">
		select * from UserInfo where upassword=#{upassword} and email=#{uname}
	</select>
	
	<insert id="insertUser" parameterType="UserInfo">
		insert into UserInfo values(seq_userid.nextval,#{uname},#{email},#{upassword},'女',null,null,null,1,0,null,null,null)
	</insert>
	
	<select id="getUname" parameterType="string" resultType="string">
		select uname from UserInfo where uname=#{uname}
	</select>
	
	<select id="getEmail" parameterType="string" resultType="string">
		select email from UserInfo where email=#{email}
	</select>
	
	<select id="getInfoByUserid" parameterType="int" resultType="UserInfo">
		select * from UserInfo where userid=#{userid}
	</select>
	
	<update id="saveInfo" parameterType="UserInfo">
		update userinfo set gender=#{gender,jdbcType=VARCHAR}, usign=#{usign,jdbcType=VARCHAR} 
		, introdution=#{introdution,jdbcType=VARCHAR} where userid=#{userid}
	</update>
	

	<select id="findall" resultType="UserInfo">
		select * from UserInfo
	</select>
	
	<select id="count" resultType="int">
		select count(*) from UserInfo
	</select>

	<update id="editPhoto" parameterType="UserInfo">
		update userinfo set photo=#{photo,jdbcType=VARCHAR} where userid=#{userid}
	</update>
	
	<update id="editPwd" parameterType="UserInfo">
		update userinfo set upassword=#{upassword,jdbcType=VARCHAR} where userid=#{userid}
	</update>
	<insert id="adduserinfo" parameterType="UserInfo">
		insert into UserInfo values(seq_userid.nextval,#{uname},#{email},#{upassword},#{gender},#{photo},#{usign},#{introdution},1,0,null,null,null)
	</insert>
	
	<update id="updateuserinfo" parameterType="UserInfo">
		update userinfo set uname=#{uname},upassword=#{upassword},email=#{email},gender=#{gender},photo=#{photo},usign=#{usign},introdution=#{introdution},status=#{status} where userid=#{userid}
	</update>
	<delete id="deluserinfo" parameterType="int">
		delete from userinfo where userid in 
		
		<foreach collection="array" item="userid" open="(" close=")" separator=",">
			#{userid}
		</foreach>
	</delete>
	
	<resultMap type="UserInfo" id="ContactMap">
		<id column="userid" property="userid"/>
		<result column="uname" property="uname"/>
		<result column="photo" property="photo"/>
		<result column="usign" property="usign"/>
		<result column="studynumber" property="studynumber"/>
		<result column="attentionnumber" property="attentionnumber"/> 
		<result column="beattentionnumber" property="beattentionnumber"/>
	</resultMap>
	<select id="getContactMsgbyUserid" parameterType="int" resultMap="ContactMap">
		select u.*,(select count(*) from studycourse st where st.userid=u.userid group by st.userid)studynumber, (select count(*) from attention a where a.userid=u.userid group by a.userid) attentionnumber,
		(select count(*) from attention a where a.attention=u.userid group by a.userid) beattentionnumber 
		from userinfo u where u.userid=#{userid}
	</select>
</mapper>
